.weather-detail-card{
    padding: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    border: black solid 1px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}